trollius==2.0
-e git+git@github.com:ElteHupkes/sdf-builder.git@master#egg=sdfbuilder
-e git+git://github.com/jpieper/pygazebo.git@develop#egg=pygazebo
-e git+git://github.com/ElteHupkes/revolve.git@master#egg=revolve
