trollius==2.0
-e git+https://github.com/ci-group/sdf-builder.git@master#egg=sdfbuilder
-e git+https://github.com/ci-group/pygazebo.git@revolve#egg=pygazebo
-e git+https://github.com/ci-group/revolve.git@working#egg=revolve
zss
networkx
matplotlib
pillow
