- evaluation: 770
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.05845
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -3.31958
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.600348
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.54303
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: -2.39574
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -3.52087
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 0.242563
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: 1.22591
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: 3.47727
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.95814
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: 1.13097
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 2.1995
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.14641
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 0.997195
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.06209
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -4.80375
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: -1.04224
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: -3.01406
            parent_name:
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.240836
              rv:gain: -1.09861
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 3.72238
              rv:gain: 1.69454
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.691844
              rv:gain: 0.813584
- evaluation: 990
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.05845
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -3.31958
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.600348
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.54303
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: -2.39574
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -3.52087
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 0.242563
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: 1.22591
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: 3.47727
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.95814
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: 1.13097
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 2.1995
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.14641
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 0.997195
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.06209
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -4.80375
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: -1.04224
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: -3.01406
            parent_name:
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.240836
              rv:gain: -1.09861
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 3.72238
              rv:gain: 1.69454
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.691844
              rv:gain: 0.813584
- evaluation: 900
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.05845
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -3.31958
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.600348
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.54303
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: -2.39574
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -3.52087
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 0.242563
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: 1.22591
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: 3.47727
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.95814
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: 1.13097
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 2.1995
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.14641
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 0.997195
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.06209
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -4.80375
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: -1.04224
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: -3.01406
            parent_name:
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.240836
              rv:gain: -1.09861
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 3.72238
              rv:gain: 1.69454
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.691844
              rv:gain: 0.813584
- evaluation: 810
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.05845
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -3.31958
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.600348
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.54303
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: -2.39574
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -3.52087
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 0.242563
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: 1.22591
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: 3.47727
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.95814
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: 1.13097
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 2.1995
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.14641
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 0.997195
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.06209
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -4.80375
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: -1.04224
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: -3.01406
            parent_name:
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.240836
              rv:gain: -1.09861
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 3.72238
              rv:gain: 1.69454
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.691844
              rv:gain: 0.813584
- evaluation: 920
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.05845
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -3.31958
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.600348
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.54303
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: -2.39574
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -3.52087
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 0.242563
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: 1.22591
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: 3.47727
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.95814
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: 1.13097
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 2.1995
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.14641
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 0.997195
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.06209
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -4.80375
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: -1.04224
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: -3.01406
            parent_name:
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.240836
              rv:gain: -1.09861
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 3.72238
              rv:gain: 1.69454
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.691844
              rv:gain: 0.813584

