- evaluation: 500
  brain:
    connection_genes:
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: 1.26182
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: -1.27935
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.1219
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -0.763686
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 1.22075
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: 0.455559
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: -1.08297
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -4.34721
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 2.78409
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.7405
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 1.74514
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.78449
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -4.28771
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: 1.8364
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 3.32131
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 48
            from: 4
            to: 47
            weight: -0.959973
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 49
            from: 47
            to: 8
            weight: 0.823891
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 54
            from: 1
            to: 53
            weight: 3.48132
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 55
            from: 53
            to: 7
            weight: 0.0619488
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 66
            from: 1
            to: 65
            weight: 1.02201
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 67
            from: 65
            to: 9
            weight: 0.790309
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 366
            from: 2
            to: 365
            weight: -2.66012
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 367
            from: 365
            to: 8
            weight: 1.01584
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 166
            from: 2
            to: 53
            weight: -0.307937
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1878
            ntype: 1
            nlayer: 2
            in_no: 65
            parent_name: none
            parent_index: -1
            params:
              rv:bias: 2.33402
              rv:gain: -2.78364
          - nid: augment1882
            ntype: 0
            nlayer: 2
            in_no: 365
            parent_name: none
            parent_index: -1
            params:
              rv:bias: -0.670078
              rv:gain: -2.29002
          - nid: augment1883
            ntype: 6
            nlayer: 2
            in_no: 53
            parent_name: none
            parent_index: -1
            params:
              rv:amplitude: -0.0792868
              rv:period: 2.80744
              rv:phase_offset: -0.494517
          - nid: augment1886
            ntype: 1
            nlayer: 2
            in_no: 47
            parent_name: none
            parent_index: -1
            params:
              rv:bias: -0.157082
              rv:gain: -0.221046
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.27175
              rv:gain: -0.581141
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.82868
              rv:gain: -0.928247
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: -3.02777
              rv:gain: -0.187476
- evaluation: 810
  brain:
    connection_genes:
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: 1.26182
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: -1.27935
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.1219
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -0.763686
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 1.22075
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: 0.455559
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: -1.08297
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -4.34721
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 2.78409
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.7405
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 1.74514
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.78449
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -4.28771
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: 1.8364
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 3.32131
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 48
            from: 4
            to: 47
            weight: -0.959973
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 49
            from: 47
            to: 8
            weight: 0.823891
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 54
            from: 1
            to: 53
            weight: 3.48132
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 55
            from: 53
            to: 7
            weight: 0.0619488
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 66
            from: 1
            to: 65
            weight: 1.02201
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 67
            from: 65
            to: 9
            weight: 0.790309
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 366
            from: 2
            to: 365
            weight: -2.66012
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 367
            from: 365
            to: 8
            weight: 1.01584
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 166
            from: 2
            to: 53
            weight: -0.307937
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1878
            ntype: 1
            nlayer: 2
            in_no: 65
            parent_name: none
            parent_index: -1
            params:
              rv:bias: 2.33402
              rv:gain: -2.78364
          - nid: augment1882
            ntype: 0
            nlayer: 2
            in_no: 365
            parent_name: none
            parent_index: -1
            params:
              rv:bias: -0.670078
              rv:gain: -2.29002
          - nid: augment1883
            ntype: 6
            nlayer: 2
            in_no: 53
            parent_name: none
            parent_index: -1
            params:
              rv:amplitude: -0.0792868
              rv:period: 2.80744
              rv:phase_offset: -0.494517
          - nid: augment1886
            ntype: 1
            nlayer: 2
            in_no: 47
            parent_name: none
            parent_index: -1
            params:
              rv:bias: -0.157082
              rv:gain: -0.221046
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.27175
              rv:gain: -0.581141
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.82868
              rv:gain: -0.928247
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: -3.02777
              rv:gain: -0.187476
- evaluation: 360
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 2.15804
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: 0.260224
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: -0.0932086
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: 0.392891
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: 0.113448
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: 0.506296
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 1.37639
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: -0.0113626
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: -0.647337
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.27784
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: 0.518952
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 3.90623
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: -0.0993451
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: -0.52376
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: -0.670681
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -2.60122
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: -0.33128
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 2.55134
            parent_name:
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0
              rv:gain: 1.36262
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.23025
              rv:gain: -0.20856
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: -2.37446
              rv:gain: -0.717096
- evaluation: 430
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 2.67095
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: 0.449841
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -0.235219
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: -0.172644
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -0.73456
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 1.65013
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: -0.0113626
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: -1.15267
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.27784
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: 0.518952
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 5.80185
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 0.16752
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: -0.52376
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: -1.17844
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -1.79544
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: -0.514778
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 2.35689
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 66
            from: 1
            to: 65
            weight: -0.142488
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 67
            from: 65
            to: 9
            weight: 1
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1878
            ntype: 1
            nlayer: 2
            in_no: 65
            parent_name: none
            parent_index: -1
            params:
              rv:bias: 0.684588
              rv:gain: -0.572438
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0
              rv:gain: -0.576953
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.23025
              rv:gain: 0.485298
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: -2.84749
              rv:gain: -0.717096
- evaluation: 590
  brain:
    connection_genes:
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: 1.26182
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: -1.27935
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.1219
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: -0.763686
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: 1.22075
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: 0.455559
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 18
            from: 3
            to: 9
            weight: -1.08297
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -4.34721
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: 2.78409
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.7405
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 1.74514
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.78449
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: -4.28771
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: 1.8364
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 3.32131
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 48
            from: 4
            to: 47
            weight: -0.959973
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 49
            from: 47
            to: 8
            weight: 0.823891
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 54
            from: 1
            to: 53
            weight: 3.48132
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 55
            from: 53
            to: 7
            weight: 0.0619488
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 66
            from: 1
            to: 65
            weight: 1.02201
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 67
            from: 65
            to: 9
            weight: 0.790309
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 366
            from: 2
            to: 365
            weight: -2.66012
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 367
            from: 365
            to: 8
            weight: 1.01584
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 166
            from: 2
            to: 53
            weight: -0.307937
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1878
            ntype: 1
            nlayer: 2
            in_no: 65
            parent_name: none
            parent_index: -1
            params:
              rv:bias: 2.33402
              rv:gain: -2.78364
          - nid: augment1882
            ntype: 0
            nlayer: 2
            in_no: 365
            parent_name: none
            parent_index: -1
            params:
              rv:bias: -0.670078
              rv:gain: -2.29002
          - nid: augment1883
            ntype: 6
            nlayer: 2
            in_no: 53
            parent_name: none
            parent_index: -1
            params:
              rv:amplitude: -0.0792868
              rv:period: 2.80744
              rv:phase_offset: -0.494517
          - nid: augment1886
            ntype: 1
            nlayer: 2
            in_no: 47
            parent_name: none
            parent_index: -1
            params:
              rv:bias: -0.157082
              rv:gain: -0.221046
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.27175
              rv:gain: -0.581141
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.82868
              rv:gain: -0.928247
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: -3.02777
              rv:gain: -0.187476

