- evaluation: 990
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.45286
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -2.79392
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.0641321
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -4.17076
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: 0.00575
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: 0.399806
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: -1.09823
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: -2.82021
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.32305
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: -3.68328
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: -1.16843
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 3.25038
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 1.92623
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: -0.506793
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: 4.53271
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: 0.0978974
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 1.47752
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 32
            from: 3
            to: 31
            weight: 0.830152
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 33
            from: 31
            to: 9
            weight: -0.650952
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 652
            from: 5
            to: 31
            weight: 2.25247
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 669
            from: 31
            to: 8
            weight: 0.119116
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 694
            from: 31
            to: 7
            weight: 2.28577
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 783
            from: 4
            to: 31
            weight: -0.551538
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1469
            ntype: 6
            nlayer: 2
            in_no: 31
            parent_name: none
            parent_index: -1
            params:
              rv:amplitude: -0.198778
              rv:period: 0.13528
              rv:phase_offset: 1.80919
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.16531
              rv:gain: 0.846409
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.14256
              rv:gain: -0.256783
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 2.21367
              rv:gain: -1.85843
- evaluation: 577
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.00621
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 2.09439
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -2.74594
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: -3.19234
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: 0.860896
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: -1.62529
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: -2.82021
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -1.87694
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: -2.4302
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: -3.43868
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 1.94572
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 0.573692
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: 1.2525
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: 4.72221
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: 1.83282
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 1.94089
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 32
            from: 3
            to: 31
            weight: -0.915486
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 33
            from: 31
            to: 9
            weight: -1.3631
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 652
            from: 5
            to: 31
            weight: 3.72093
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 659
            from: 1
            to: 31
            weight: 1.3279
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 669
            from: 31
            to: 8
            weight: -2.17005
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 694
            from: 31
            to: 7
            weight: 2.28931
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 783
            from: 4
            to: 31
            weight: -0.448459
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 132
            from: 1
            to: 131
            weight: -2.24163
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 133
            from: 131
            to: 8
            weight: 1
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1469
            ntype: 6
            nlayer: 2
            in_no: 31
            parent_name: none
            parent_index: -1
            params:
              rv:amplitude: -1.31923
              rv:period: -0.41949
              rv:phase_offset: 1.80919
          - nid: augment1517
            ntype: 0
            nlayer: 2
            in_no: 131
            parent_name: none
            parent_index: -1
            params:
              rv:bias: 1.4173
              rv:gain: 0.334885
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 2.33936
              rv:gain: 1.64408
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.5918
              rv:gain: 0.815525
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 2.21367
              rv:gain: -1.18248
- evaluation: 850
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.45286
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -2.79392
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.0641321
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -4.17076
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: 0.00575
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: 0.399806
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: -1.09823
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: -2.82021
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.32305
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: -3.68328
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: -1.16843
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 3.25038
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 1.92623
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: -0.506793
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: 4.53271
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: 0.0978974
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 1.47752
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 32
            from: 3
            to: 31
            weight: 0.830152
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 33
            from: 31
            to: 9
            weight: -0.650952
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 652
            from: 5
            to: 31
            weight: 2.25247
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 669
            from: 31
            to: 8
            weight: 0.119116
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 694
            from: 31
            to: 7
            weight: 2.28577
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 783
            from: 4
            to: 31
            weight: -0.551538
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1469
            ntype: 6
            nlayer: 2
            in_no: 31
            parent_name: none
            parent_index: -1
            params:
              rv:amplitude: -0.198778
              rv:period: 0.13528
              rv:phase_offset: 1.80919
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.16531
              rv:gain: 0.846409
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.14256
              rv:gain: -0.256783
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 2.21367
              rv:gain: -1.85843
- evaluation: 610
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.45286
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -2.79392
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.0641321
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -4.17076
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: 0.00575
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: 0.399806
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: -1.09823
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: -2.82021
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.32305
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: -3.68328
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: -1.16843
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 3.25038
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 1.92623
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: -0.506793
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: 4.53271
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: 0.0978974
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 1.47752
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 32
            from: 3
            to: 31
            weight: 0.830152
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 33
            from: 31
            to: 9
            weight: -0.650952
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 652
            from: 5
            to: 31
            weight: 2.25247
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 669
            from: 31
            to: 8
            weight: 0.119116
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 694
            from: 31
            to: 7
            weight: 2.28577
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 783
            from: 4
            to: 31
            weight: -0.551538
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1469
            ntype: 6
            nlayer: 2
            in_no: 31
            parent_name: none
            parent_index: -1
            params:
              rv:amplitude: -0.198778
              rv:period: 0.13528
              rv:phase_offset: 1.80919
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.16531
              rv:gain: 0.846409
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.14256
              rv:gain: -0.256783
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 2.21367
              rv:gain: -1.85843
- evaluation: 830
  brain:
    connection_genes:
      - con_1:
            in_no: 10
            from: 1
            to: 7
            weight: 1.45286
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 11
            from: 1
            to: 8
            weight: -2.79392
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 12
            from: 1
            to: 9
            weight: 0.0641321
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 13
            from: 2
            to: 7
            weight: -4.17076
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 14
            from: 2
            to: 8
            weight: 0.00575
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 15
            from: 2
            to: 9
            weight: 0.399806
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 16
            from: 3
            to: 7
            weight: -1.09823
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 17
            from: 3
            to: 8
            weight: -2.82021
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 19
            from: 4
            to: 7
            weight: -2.32305
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 20
            from: 4
            to: 8
            weight: -3.68328
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 21
            from: 4
            to: 9
            weight: -1.16843
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 22
            from: 5
            to: 7
            weight: 3.25038
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 23
            from: 5
            to: 8
            weight: 1.92623
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 24
            from: 5
            to: 9
            weight: -0.506793
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 25
            from: 6
            to: 7
            weight: 4.53271
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 26
            from: 6
            to: 8
            weight: 0.0978974
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 27
            from: 6
            to: 9
            weight: 1.47752
            parent_name:
            parent_index: -1
      - con_1:
            in_no: 32
            from: 3
            to: 31
            weight: 0.830152
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 33
            from: 31
            to: 9
            weight: -0.650952
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 652
            from: 5
            to: 31
            weight: 2.25247
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 669
            from: 31
            to: 8
            weight: 0.119116
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 694
            from: 31
            to: 7
            weight: 2.28577
            parent_name: none
            parent_index: -1
      - con_1:
            in_no: 783
            from: 4
            to: 31
            weight: -0.551538
            parent_name: none
            parent_index: -1
    layers:
      - layer_1:
          - nid: Input-0
            ntype: 3
            nlayer: 0
            in_no: 1
            parent_name:
            parent_index: -1
            params:
          - nid: Input-1
            ntype: 3
            nlayer: 0
            in_no: 2
            parent_name:
            parent_index: -1
            params:
          - nid: Input-2
            ntype: 3
            nlayer: 0
            in_no: 3
            parent_name:
            parent_index: -1
            params:
          - nid: Input-3
            ntype: 3
            nlayer: 0
            in_no: 4
            parent_name:
            parent_index: -1
            params:
          - nid: Input-4
            ntype: 3
            nlayer: 0
            in_no: 5
            parent_name:
            parent_index: -1
            params:
          - nid: Input-5
            ntype: 3
            nlayer: 0
            in_no: 6
            parent_name:
            parent_index: -1
            params:
      - layer_2:
          - nid: augment1469
            ntype: 6
            nlayer: 2
            in_no: 31
            parent_name: none
            parent_index: -1
            params:
              rv:amplitude: -0.198778
              rv:period: 0.13528
              rv:phase_offset: 1.80919
      - layer_3:
          - nid: weight
            ntype: 0
            nlayer: 1
            in_no: 7
            parent_name:
            parent_index: -1
            params:
              rv:bias: 0.16531
              rv:gain: 0.846409
          - nid: rv:bias
            ntype: 0
            nlayer: 1
            in_no: 8
            parent_name:
            parent_index: -1
            params:
              rv:bias: 1.14256
              rv:gain: -0.256783
          - nid: rv:gain
            ntype: 0
            nlayer: 1
            in_no: 9
            parent_name:
            parent_index: -1
            params:
              rv:bias: 2.21367
              rv:gain: -1.85843

